<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**
- Explore the different uses of markdown cells
- List popular languages for Data Science
- List Data Science Libraries
- Create a table of Data Science Tools
- Evaluate arithmetic expressions

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Libraries in Python (e.g. Pandas and NumPy)
2. Visualization Libraries in Python (e.g. Matplotlib and Seaborn)
3. High-Level- Machine Learning and Deep Learning Libraries (e.g. Scikit-learn and Keras)
4. Deep Learning Libraries in Python (e.g. Tensorflow and PyTorch)
5. Libraries used in other languages (e.g. Apache Spark and Scala)

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
|--------------------|
| Jupyter |
| Jupyter Lab |
| RStudio |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [9]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Francis Ira Velaque